<!--<p>promo works!</p>-->
<!-- The App Section -->
<app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>The App</b></h1>
        <h1 class="large-font" style="color:#fb8500;"><b>Why buy it?</b></h1>
        <p><span style="font-size:36px">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="button">Download Application</button>
      </div>
      <div class="column-33">
          <img src="assets/promo_1.png" width="471" height="607">
      </div>
    </div>
  </div>
  
  <!-- Clarity Section -->
  <div class="container-fluid" style="background-color:#f1f1f1">
    <div class="row">
      <div class="column-33">
        <img src="assets/promo_1.png" alt="App"  width="471" height="607">
      </div>
      <div class="column-66">
        <h1 class="xlarge-font"><b>Clarity</b></h1>
        <h1 class="large-font" style="color:#fb8500;"><b>Pixels, who?</b></h1>
        <p><span style="font-size:24px">A revolution in resolution.</span> Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button class="button" style="background-color:#fb8500">Read More</button>
      </div>
    </div>
  </div>
  
  <!-- The App Section -->
  <div class="container-fluid">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>The App</b></h1>
        <h1 class="large-font" style="color:#fb8500;"><b>Why buy it?</b></h1>
        <p><span style="font-size:36px">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button class="button">Download Application</button>
      </div>
      <div class="column-33">
          <img src="assets/promo_1.png" width="471" height="607" >
      </div>
    </div>
  </div>
  
